img {
	max-width: 100%;
	height: 100%;
}
header {
	background: rgb(9, 136, 221);
}
.sociaux svg {
	width: 30px !important;
	height: 30px;
	padding: 6px;
}

.slide img {
	height: 600px;
}

.carousel-caption h5,
.carousel-caption p {
	background: rgba(0, 0, 0, 0.5);
}

.services .card {
	padding: 0;
}

.services .card img {
	height: 200px;
}
.translucide {
	background-image: url("../images/counters.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.translucide > div {
	background: rgba(0, 0, 0, 0.7);
}

#team {
	background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #108d6f;
	border-color: #108d6f;
	box-shadow: none;
	outline: none;
}

#team .card {
	border: none;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.mainflip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

.frontside {
	position: relative;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	z-index: 2;
	margin-bottom: 30px;
}

.backside {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
	min-height: 312px;
}

.backside .card a {
	font-size: 18px;
	color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
	color: #007b5e !important;
}

.frontside .card .card-body img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.type {
	font-size: 2.5rem;
	overflow: hidden;
	border-right: 0.15em solid skyblue;
	white-space: nowrap;
	width: 0;
	animation: typing 7s steps(25, end) infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
@keyframes blink {
	from {
		border-color: transparent;
	}
	to {
		border-color: skyblue;
	}
}

/* RESPONSIVE */
@media (max-width: 490px) {
	.contacts a:last-child {
		margin-bottom: 10px;
	}
}
/* SM */
@media (min-width: 576px) {
	.card-md {
		-ms-flex: 0 0 48%;
		flex: 0 0 48%;
		max-width: 48%;
		margin: 1%;
	}
}

@media (max-width: 768px) {
	.slide img {
		height: 50vh;
	}
}

/* MD */
@media (min-width: 768px) {
	.card-md {
		max-width: 32%;
		padding: 0;
	}
	.card-md {
		-ms-flex: 0 0 48%;
		flex: 0 0 48%;
		max-width: 48%;
		margin: 1%;
	}
}
/* LG */
@media (min-width: 992px) {
	.card-md {
		-ms-flex: 0 0 31%;
		flex: 0 0 31%;
		max-width: 31%;
		margin: 1%;
	}
}
